/* JavaFX CSS - Leave this comment until you have at least created one rule which uses -fx-Property */


.border {
    -fx-border-color: #babbbb;
    -fx-border-width: 0.0px 0.0px 2.0px 0.0px;
}
.border-less-up {
    -fx-border-color: #babbbb;
    -fx-border-width: 0.0px 2.0px 2.0px 2.0px;
}
.border-up-right {
    -fx-border-color: #babbbb;
    -fx-border-width: 2.0px 2.0px 0.0px 0.0px;
}
.border-main {
    -fx-border-color: #babbbb;
    -fx-border-width: 2.0px 2.0px 2.0px 2.0px;
}
.heading {
    -fx-background-color: #b9c8d2;
    -fx-border-color: #b9c8d2;
    -fx-border-width: 2.0px 2.0px 2.0px 2.0px;
}
.button-menu {
    -fx-background-color: transparent;
    -fx-alignment: CENTER_LEFT;
    -fx-text-fill:#838389;
}

.button-menu:selected {
    -fx-background-color: #212349;
        -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}
.button-2 {
    -fx-background-color: #647387;
}
.border-add-task {
    -fx-background-color: transparent;
    -fx-border-color: #ab8eb7;
    -fx-border-width: 2.0px 2.0px 2.0px 2.0px;
}
.margin {
    -fx-padding: 10.0px;
    -fx-border-insets: 10.0px;
    -fx-background-insets: 10.0px;
}
.border-task {
    -fx-background-color: #ebebeb;
    -fx-background-radius: 10.0px;
}
.add-folder-button {
    -fx-text-fill: #FFFFFF; 
    -fx-background-color: linear-gradient(to bottom right, #4f4f4f, #306090);
}
.border-down {
    -fx-border-color: #babbbb;
    -fx-border-width: 0.0px 0.0px 2.0px 0.0px;
}

*.table-view *.table-column {
    -fx-alignment: top-left;
}

.table-view .column-header .label {
    -fx-alignment: top-left;
}

#backupLocal_success,#backupRemote_success, #cleanupLocal_success,#cleanupRemote_success {
    -fx-text-fill: green;
    
}

#backupLocal_failed, #backupRemote_failed, #cleanupLocal_failed, #cleanupRemote_failed{
	-fx-text-fill: red;
	
}

#backupLocal, #cleanupLocal, #backupRemote, #cleanupRemote{
	-fx-text-fill :#E6663E;
}

#totalTask {
    -fx-background-color: #fff4de;
    	 -fx-background-radius:  2.0em;
    
}

#runningTask{
	 -fx-background-color: #dcfce7;
	 -fx-background-radius:  2.0em;
}
#stopTask{
		-fx-background-color:#ffe2e6;
			 -fx-background-radius:  2.0em;	
}
#button_run{
	-fx-background-color: #d3e8d6;
	-fx-text-fill: #379068;
}
#button_stop{
	-fx-background-color: #f8cdcc;
	-fx-text-fill:#aa1311;
}

.whiteRadius{
	-fx-background-color: #FFFFFF;
	-fx-background-radius: 1.0em;
	
}
.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.0), 10.0,0.0,0.0,0.0);
}

.range{
    -fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.2), 10.0,0.0,0.0,0.0);

}

.bar-chart .chart-content .chart-plot-background {
 -fx-bar-fill: #dcfce7; 
    -fx-background-color: #FFFFFF;
    	-fx-effect: none;
    
}


.chart1 .default-color0.chart-bar {
    -fx-bar-fill: #0095FF; 
     -fx-border-color: red; 
     -fx-border-width:0.0px;
     
}

.chart1 .default-color1.chart-bar {
    -fx-bar-fill: #CDE7FF; 
}

.chart1 .default-color2.chart-bar {
    -fx-bar-fill: #00E096; 
}

.chart1 .default-color3.chart-bar {
	-fx-effect: none;
    -fx-bar-fill: #dcfce6; 
}

.chart2 .default-color0.chart-bar {
    -fx-bar-fill:#0095FF; 
}

.chart2 .default-color1.chart-bar {
    -fx-bar-fill: #f65b7e; 
}

.chart2 .default-color2.chart-bar {
    -fx-bar-fill:  #00E096; 
}

.chart2 .default-color3.chart-bar {
    -fx-bar-fill: #ffe2e5; 
}


/* styles.css */
/* styles.css */

.default-color0.chart-pie { -fx-pie-color:   #0095FF; }
.default-color1.chart-pie { -fx-pie-color: #00E096; }
.default-color2.chart-pie { -fx-pie-color: #f65a7e; }

.scroll-pane {
   -fx-background: #FFFFFF;
   -fx-border: transparent;
}


